<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Chaotic bot dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/hotsu0p/chaotic">GitHub</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <% if (user) { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Logged in as <%= user.username %>#<%= user.discriminator %>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
                <li><a class="dropdown-item" href="/">Home</a></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
              </ul>
            </li>
            </li>
          <% } else { %>
            <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
  <style>

.navbar {
  background-color: #3498db;
}

.navbar-brand, .nav-link {
  color: #141313 !important;
}

.navbar-toggler-icon {
  background-color: #faf9f9;
}

.dropdown-menu {
  background-color: #3498db;
}

.dropdown-item {
  color: #faf9f9 !important;
}

.dropdown-item:hover {
  background-color: #2980b9;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-nav {
  margin: 0;
}

.nav-item {
  margin-right: 10px;
}

.dropdown-divider {
  border-color: #faf9f9;
}

@media (max-width: 768px) {
  .navbar-nav {
    margin-top: 10px;
  }
}
  </style>