<%- include("partials/header", { bot, user, path, title: "Home" }) %>

<style>
  body {
    background: linear-gradient(to right, #1c1c1d, #0e131d);
    color: #ffffff;
  }

  .container-sm {
    text-align: center;
    margin-top: 5rem;
  }

  h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #61dafb; /* Change color to a nice accent color */
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  .btn {
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    margin: 1rem;
    border-radius: 1rem;
    transition: background-color 0.3s ease-in-out;
  }

  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #ffffff;
  }

  .btn-secondary:hover {
    background-color: #495057;
    border-color: #495057;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
  }

  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }

  .btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #000000;
  }

  .btn-warning:hover {
    background-color: #d39e00;
    border-color: #d39e00;
  }
  .button {
  background-color: #323232;
  border: none;
  color: white;
  padding: 13px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: .5s;
  font-size: 13px;
}
.button:hover {
  background-color: #363938;
  color: #000000;
  transform: translateY(2px);
  transform: translateX(1px);
}
</style>
<div class="glow"></div>
<style>
  .glow {
    width: 80%;
    height: 60px;
    background: linear-gradient(90deg, #dd4949, #5e40e4);
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 50%;
    transform: translateY(-20%);
    filter: blur(160px);
  }
</style>
<div class="container-sm">
  <h2>Welcome to Chaotic's Dashboard!</h2>
  <p>Explore the features and settings below:</p>

  <div class="row">
    <div class="col-md-4">
      <a class='button btn btn-default' href='/dashboard'><span><i class="fa fa-bar-chart" aria-hidden="true"></i> Dashboard</span></a>
    </div>
    <div class="col-md-4">
  </div>
 
</div>
<div>
  <div>
      <div>
        You can configure the bot prefix for your server in the dashboard! and more soon!
      </div>
  </div>
</div>
<%- include("partials/footer") %>
