<%- include("partials/header", { bot, user, path, title: "Home" }) %>

<div class="container-sm center" style="margin-top: 25px;">
  <div class="d-grid gap-2 col-6 mx-auto">
    <h2>Welcome to chaotics dashboard!</h2>
    <p>Not to much here for now.....</p>
    <a class="btn btn-secondary text-white" href="/dashboard">Dashboard</a>
    <a class="btn btn-primary text-white" href="https://github.com/hotsu0p/chaotic" target="_blank" rel="noopener noreferrer">GitHub</a>
    <a class="btn btn-warning text-white" href="<%= discordInvite %>" target="_blank" rel="noopener noreferrer">Discord Server</a>
  </div>
</div>

<%- include("partials/footer") %>